*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 68%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media(min-width: 468px) {
    .container-1 {
        display: flex;
        /*
        align-items: flex-start;
        align-items: flex-end;
        align-items: center;
        align-items: column;
        */
        justify-content: space-between;
    }
    
    .container-2 {
        display: flex;
        /*
        justify-content: flex-start;
        justify-content: flex-end;
        justify-content: center;
        justify-content: around;
        */
        justify-content: space-around;
    }
}

body {
    background: rgb(145, 132, 145);
}

.container-1 div, .container-2 div {
    border: 3px rgb(248, 246, 246) solid;
    padding: 10px;
}

.box-1 {
    flex: 4;
    order: 2;
}

.box-2 {
    flex: 1;
    order: 1;
}

.container-2-box {
    flex-basis: 20%
}

.footer {
    text-align: center;
    width: 100vw;
    padding: 30px;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}




